
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">


    <!--@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ person module @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->

    <!-- Repository -->
    <bean id="personRepository" class="com.healthcareApp.repository.PersonRepository"/>

    <!-- Service -->
    <bean id="personService" class="com.healthcareApp.service.PersonService">
<!--        <property name="personRepository" ref="personRepository"/>-->
        <constructor-arg ref="personRepository"/>
    </bean>

    <!-- Controller -->
    <bean id="personController" class="com.healthcareApp.controller.PersonController">
        <constructor-arg ref="personService"/>
    </bean>

        <!--@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ doctor module @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->

    <!-- Repository -->
    <bean id="doctorRepository" class="com.healthcareApp.repository.DoctorRepository"/>

    <!-- Service -->
    <bean id="doctorService" class="com.healthcareApp.service.DoctorService">
        <!--        <property name="doctorRepository" ref="doctorRepository"/>-->
        <constructor-arg ref="doctorRepository"/>
    </bean>

    <!-- Controller -->
    <bean id="doctorController" class="com.healthcareApp.controller.DoctorController">
        <constructor-arg ref="doctorService"/>
    </bean>

    <!--@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ hospital module @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->
    <!-- Repository -->
    <bean id="hospitalRepository" class="com.healthcareApp.repository.HospitalRepository"/>

    <!-- Service -->
    <bean id="hospitalService" class="com.healthcareApp.service.HospitalService">
        <!--        <property name="hospitalRepository" ref="hospitalRepository"/>-->
        <constructor-arg ref="hospitalRepository"/>
    </bean>

    <!-- Controller -->
    <bean id="hospitalController" class="com.healthcareApp.controller.HospitalController">
        <constructor-arg ref="hospitalService"/>
    </bean>

    <!--@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ department module @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->
    <!-- Repository -->
    <bean id="departmentRepository" class="com.healthcareApp.repository.DepartmentRepository"/>

    <!-- Service -->
    <bean id="departmentService" class="com.healthcareApp.service.DepartmentService">
        <!--        <property name="departmentRepository" ref="departmentRepository"/>-->
        <constructor-arg ref="departmentRepository"/>
    </bean>

    <!-- Controller -->
    <bean id="departmentController" class="com.healthcareApp.controller.DepartmentController">
        <constructor-arg ref="departmentService"/>
    </bean>
    <!--@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ Appointment module @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->

</beans>
