
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">


    <!--@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ person module @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->

    <!-- Repository -->
    <bean id="personRepository" class="com.healthcareApp.repository.PersonRepository"/>

    <!-- Service -->
    <bean id="personService" class="com.healthcareApp.service.PersonService">
<!--        <property name="personRepository" ref="personRepository"/>-->
        <constructor-arg ref="personRepository"/>
    </bean>

    <!-- Controller -->
    <bean id="personController" class="com.healthcareApp.controller.PersonController">
        <constructor-arg ref="personService"/>
    </bean>

        <!--@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ doctor module @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->

</beans>
